{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Finch Collector</title>
</head>

<body>
    <aside class="sidebar">
        <ul>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">ALL FINCHES</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'finches_add' %}">ADD A FINCH</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'places' %}">ALL PLACES</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'places_add' %}">ADD A PLACE</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">ADMIN</a></li>
        </ul>
    </aside>


    <main class="content">
        {% block content %}


        {% endblock %}
    </main>
    
    <!-- <footer>
        <p>Copywrite 2024 Finch Collector</p>
    </footer> -->

</body>

</html>