body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: #FEFAF6;
    font-family: Arial, Helvetica, sans-serif;
}


.sidebar {
    min-width: 200px;
    background-color: #102C57;
    font-family: Quicksand;
    font-size: 20px;
    margin-right: 35px;
}

.content {
    flex-grow: 1;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 35px;
}

.nav-link {
    color: rgb(208, 208, 180);
    text-decoration: none;
    margin-bottom: 100px;
    padding-left: 25px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    padding: 10px 0px 10px 0px;
}

.nav-item:hover {
    background-color: #183a6e;
}

h1 {
    font-family: Quicksand;
    font-size: 40px;
}

h2 {
    margin-top: 0px;
}

.card {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

#index-card {
    margin-left: auto;
    margin-right: auto;
    width: 60vmin;
}

.details-container {
    display: grid;
    min-height: 75vh;
    grid-template-columns: repeat(9, 10%) ;
    grid-template-rows: 20% 20% auto;
}


#detail-card {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: span 2;
}

#sightings-card {
    margin: 2px;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
}

#detail-card > h3 {
    margin-top: 0px;

}

#sightings-card {
    display: inline-block;
}

#seen-card {
    margin: 2px;
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 3;
}

#places-card {
    margin: 2px;
    grid-column-start: 7;
    grid-column-end: span 3;
    grid-row-start: 3;
}


.button {
    width: 75px;
    padding: 3px 0px 3px 0px;
    background-color: green;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

.button > a {
    text-decoration: none;
    color: white;
}





@media only screen and (max-width: 992px) {

    body {
        flex-direction: column-reverse;
    }

    h1 {

    }

}