{% extends 'base.html' %}
{% block content%}

<h2>{{ finch.name }}</h2>

<p>Subtype: {{ finch.subtype }}</p>
<p>Description: {{ finch.description|linebreaks }}</p>
<p>Size: {{ finch.size }}</p>
<p>Range: {{ finch.range }}</p>

<div>
    <a href="{% url 'finches_update' finch.id %}">Edit</a>
    <a href="{% url 'finches_delete' finch.id %}">Delete</a>
</div>

<div>
    <table>
        <thead>
            <tr><th>Date</th><th>Genders Seen</th></tr>
        </thead>
        <tbody>
            {% for sighting in finch.sighting_set.all %}
                <tr>
                    <td>{{ sighting.date }}</td>
                    <td>{{ sighting.get_gender_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock%}