{% extends 'base.html' %}
{% block content%}

<h2>Finch List</h2>

{% for finch in finches %}
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="https://www.allaboutbirds.org/guide/assets/photo/306710541-1280px.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ finch.name }}</h5>
            <h6>Subtype: {{ finch.subtype }}</h6>
            <p class="card-text">Description: {{ finch.description|linebreaks }}</p>
            <a href="{% url 'detail' finch.id %}" class="btn btn-success">Details</a>
        </div>
    </div>
</div>
{% endfor %}


{% endblock%}